[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
acpi-backlight = {editable = true, path = "."}

[dev-packages]
pytest = "*"

# zipp v2.0.0 dropped support for python3.5
# https://github.com/jaraco/zipp/commit/05a3c52b4d41690e0471a2e283cffb500dc0329a
zipp = "<2"
