[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
acpi-backlight = {editable = true, path = "."}

[dev-packages]
black = "==20.8b1"
mypy = "*"
pylint = "*"
pylint-import-requirements = "*"
pytest = "*"
pytest-cov = "*"

# remove {"markers": "python_version >= '3.7'"} for _pytest/compat.py
importlib-metadata = "<4.9"
# python3.10 compatibility
# >   File "[...]/lib/python3.10/site-packages/mypy/main.py", line 11, in <module>
# >     from typing_extensions import Final, NoReturn
# > ModuleNotFoundError: No module named 'typing_extensions'
typing_extensions = "*"

[requires]
python_version = "3"

# Pipfile syntax: https://github.com/pypa/pipfile#pipfile
